* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'jura';
  src: url('../public/assets/fonts/IMFellFrenchCanonSC-Regular.ttf');
}
body {
  margin: 0;
  font-family: 'jura';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
